h1{
    color: brown;
}
h3{
    color:darkgreen;
}
li{
    list-style: square;
    color: orangered;
}
.dom-section{
    padding-top: "24px";
}
.text-size{
    font-size: x-large;
    text-align: center;
}  