h1{
    color: brown;
}
h3{
    color:darkgreen;
}
li{
    list-style: square;
    color: orangered;
}
.domCustom{
    padding-top: "20px";
}
.text-size{
    font-size: x-large;
    text-align: center;
}  

.divStyle{
    padding: 20px;
    background-color: red;
    color: white;
}

.customCss{
    padding-top: 20px;
}